html,
body {
  background: black;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.feeds {
  background: black;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px;
  content: "";
  display: table;
  clear: both;
 }

.title {
  color: white;
  font-size: 2.5ex;
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
  flex: 1;
  
}

section {
  max-height: 40%;
  overflow: auto;
  border-bottom: 1px solid;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}
h1 {
  color: green;
  text-align: center;
  padding: 5rem;
}
.tag-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  align-content: center;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 10px;
}
.tag {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  height: 25px;
  margin: 2px 5px 2px 0px;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}


.search {
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
}

.tag span {
  margin-left: 5px;
  cursor: pointer;
  color: green;
}

header {
  color: white;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 2px solid white;
}
section:last-child {
  border: none;
}
footer {
  grid-row-start: 2;
  grid-row-end: 3;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */


html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  min-height: calc(100vh - 70px);
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}